[submodule "Twitter-Sentiment-Analysis-for-Airlines"]
	path = Twitter-Sentiment-Analysis-for-Airlines
	url = https://github.com/sudhanshusinghaiml/Twitter-Sentiment-Analysis-for-Airlines.git
[submodule "fake-news-classification-using-deeplearning"]
	path = fake-news-classification-using-deeplearning
	url = https://github.com/sudhanshusinghaiml/fake-news-classification-using-deeplearning.git
[submodule "nlp-text-processing-and-classification-model"]
	path = nlp-text-processing-and-classification-model
	url = https://github.com/sudhanshusinghaiml/nlp-text-processing-and-classification-model.git
[submodule "NLP-Hate-Speech-Classification-using-LSTM"]
	path = NLP-Hate-Speech-Classification-using-LSTM
	url = https://github.com/sudhanshusinghaiml/NLP-Hate-Speech-Classification-using-LSTM.git
[submodule "Text-Summarization-using-transformers"]
	path = Text-Summarization-using-transformers
	url = https://github.com/sudhanshusinghaiml/Text-Summarization-using-transformers.git
[submodule "NLP-Name-Entity-Recognition"]
	path = NLP-Name-Entity-Recognition
	url = https://github.com/sudhanshusinghaiml/NLP-Name-Entity-Recognition.git
